@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
}

@layer utilities {
  ::placeholder {
    color: #bfbfbf;
    font-size: 13px;
    font-weight: 400;
  }
  .card {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }
  form label {
    color: #404040;
    font-size: 13px;
  }
}
